
<div class="panel panel-default">
        <div class="panel-heading">Gesamtstatus</div>
        <div class="panel-body">
            <h3>Übersicht</h3>
            <dl class="xdl-horizontal xdl-horizontal-left xgrid">
                <dt>gesendet</dt>
                <dd role="defintion">
                    94040</dd>
                <dt>wartent</dt>
                <dd role="defintion">
                    94040</dd>
                <dt>fehlerhaft</dt>
                <dd role="defintion">
                    94040</dd>
            </dl>
        </div>
    </div>