<script >
    alert('huhu');
</script>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">Messages IDM-Adapter Extern: {{getEoId()}}
        <div class="btn-group pull-right">
          <label for="Diganose" class="pull-left">Diganose: </label>
          <a id="Diganose" class="btn btn-primary btn-xs " href="auftrag?EOIDZ=getEoId()">Messages</a>

        </div>
      </div>
      <div class="panel-body">

        <!-- Protokoll -->
        <table class="table table-responsive table-striped ">
          <!-- Kopf -->
          <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th class="visible-lg">
                Corr. ID
              </th>
              <th>Datum</th>
              <th class="visible-lg">
                Order-ID
              </th>
              <th>
                Context
              </th>
              <th class="visible-lg">
                Service
              </th>
              <th>
                Typ
              </th>
              <th>
                Message
              </th>
            </tr>
          </thead>
          <!-- CP -->
          <!-- ID	EO_ID	SO_ID	CORRELATION_ID	TS_CREATED	RL_ID	SERVICE	MESSAGE	HIS_AUFTRAG_ID	CONTEXT	TS_SENT -->
          <tbody *ngFor="let a of xmessageList" [class.selected]="a === xmessage" (click)="onSelect(a)">
            <tr>
              <td>
                <div *ngIf="a.CORRELATION_ID==null">
                  <span class="glyphicon glyphicon glyphicon-arrow-right text-success"></span>
                </div>
                <div *ngIf="a.CORRELATION_ID">
                    <span class="glyphicon glyphicon glyphicon-arrow-left text-success"></span>
                  </div>
                </td><td>
                <a routerLink="/xauftragExt">
                  <span class="badge">{{a.ID}}</span>
                </a>
              </td>
              <td class="visible-lg ">{{a.CORRELATION_ID}}</td>
              <td>{{a.TS_CREATED}}</td>
              <td class="visible-lg ">{{a.SO_ID}}</td>
              <td>{{a.CONTEXT}}</td>
              <td class="visible-lg ">{{a.SERVICE}}</td>
              <td>{{a.TYPE}}
                <div [innerHTML]='a.XML'></div>
              </td>
              <td>
                <div>
                  <a class="btn btn-primary btn-xs" (click)="assignActity(a.ID)">HTML</a>

                 <!--
                  <a class="btn btn-primary btn-xs" href="javascript:fensterOeffnen('http://localhost:3300/xmessage/{{a.ID}}')">XML</a>
                   -->
                  <a class="btn btn-primary btn-xs" data-toggle="collapse" href="#{{a.ID}}" aria-expanded="false" aria-controls="'a.ID'">COPY</a>
                  <a class="btn btn-primary btn-xs" role="button" data-toggle="modal" href="#msgModal" aria-expanded="false" aria-controls="msgModal">
                    Show ...
                  </a>
                  <!--
                  <a class="btn btn-primary btn-xs" href="#" onclick="fensterOeffnen('/assets/msg/05_SMKUSERDATA2.xml')">HTML</a>
                  -->
                  <a class="btn btn-primary btn-xs" href="#" onclick="fensterOeffnen('')">HTML</a>

                </div>
              </td>
            </tr>
            <!--
                <pre lang="xml" style="width:100px;height:100px;overflow:auto;"></pre>

            -->
            <tr class="xcollapse" id={{a.ID}}>
              <td></td>
              <td colspan="6">
                <pre class="appPrettyprint lang-xml">&lt;rss version=\'2.0\'&gt;&lt;channel&gt;&lt;title&gt;RSS Title&lt;/title&gt;&lt;/channel&gt;    &lt;/rss&gt;</pre>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4 ">
    <!-- Titel -->
    <div *ngIf="dbgLevel>0">
      <div class="row">
        <div class="col-md-12 ">
          <h4 class="sr-only1">Auftrag Messages</h4>
          <pre>{{diagnostic}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="regexModalLabel">Message</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-body" id="trText"> <pre lang="xml">{{xml}}</pre></div>
          </div>
       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ONCLICK="demoShowMatchClick('trText',  'trRegex', 'trResult')">Check</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ONCLICK="exitShowMatchClick('trRegex')">OK</button>
        </div>
      </div>
    </div>
  </div>