<!-- Titel -->
<div *ngIf="dbgLevel>0">
  <div class="row">
    <div class="col-md-12 ">
      <h4 class="sr-only1">Kampagnenliste</h4>
      <pre>{{diagnostic}}</pre>
    </div>
  </div>
</div>

<div class="panel-body">

  <div class="row">
    <div class="xcol-sm-6  xcol-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">Kampagenliste</div>
        <div class="panel-body">
          <table class="table " aria-labelledby="external-ids">
            <caption class="sr-only">Vorgangsnummern externer Systeme</caption>
            <thead>
              <tr>
                <th>Name</th>
                <th class="visible-lg">SERVICE</th>
                <th>TICKET</th>
                <th class="visible-lg">TS_CREATION</th>
                <th class="visible-lg ">SP</th>
                <th class="visible-lg">EM</th>
                <th class="visible-lg">RNR</th>
                <th class="visible-lg">PRM</th>
                <th>STATUS</th>
                <th class="visible-lg">F</th>
                <th class="visible-lg">E</th>
                <th class="visible-lg">W</th>
                <th>ANZ</th>
                <th class="visible-lg">DELAY</th>
                <th>Ändern</th>
                <th>Aktion</th>
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let a of kampagneList()" [class.selected]="a === kampagne" (click)="onSelect(a)">
                <td>{{a.CAMPAIGN_ID}}</td>
                <td class="visible-lg">{{a.SERVICE}}</td>
                <td>{{a.TICKET}}</td>
                <td class="visible-lg">{{a.TS_CREATION}}</td>
                <td class="visible-lg">{{a.REPRO_SPERRE}}</td>
                <td class="visible-lg">{{a.REPRO_EM}}</td>
                <td class="visible-lg">{{a.REPRO_RUFNR}}</td>
                <td class="visible-lg">{{a.REPRO_PARAM}}</td>
                <td>{{a.STATUS}}</td>
                <td class="visible-lg">?</td>
                <td class="visible-lg">?</td>
                <td class="visible-lg">?</td>
                <td>{{a.ANZ_JOBS}}</td>
                <td class="visible-lg">{{a.DELAY}}</td>
                <td>
                  <a class="btn btn-primary" href="#collapseKampEditStopp" aria-controls="edit" role="tab" data-toggle="tab" (click)="onEditStopp(a)">Stopp!</a>
                  <a class="btn btn-primary" href="#collapseKampEditEinzel" aria-controls="edit" role="tab" data-toggle="tab" (click)="onEditEinzel(a)">Einzel</a>
                  <a class="btn btn-primary" href="#collapseKampEditListe" aria-controls="edit" role="tab" data-toggle="tab" (click)="onEditListe(a)">Liste</a>
                  <a class="btn btn-primary" href="#collapseKampEditError" aria-controls="edit" role="tab" data-toggle="tab" (click)="onEditError(a)">Error</a>
                  <a class="btn btn-primary" href="#collapseKampEditStart" aria-controls="edit" role="tab" data-toggle="tab" (click)="onEditStart(a)">Start!</a>
                </td>
                <td>
                  <div class="bs-callout bs-callout-warning">
                    <button class="btn btn-warning" href="#collapseKampEditMod" aria-controls="edit" role="tab" data-toggle="tab">
                      <span class="glyphicon glyphicon-expand" aria-hidden="true" (click)="onEditModify()"></span>Mod...
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
</div>
