<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">interne Aufträge IDM-Adapter</div>
      <div class="panel-body">
        <table class="table table-striped">
          <caption class="sr-only">??order.search.caption_de??</caption>
          <thead>
            <tr>
              <th id="id">IDM-Adapter intern</th>
              <th id="type">Auftragstyp</th>
              <th id="status">Status</th>
              <th id="created" class="visible-lg ">Erzeugt</th>
              <th id="completed" class="visible-lg ">Komplettiert</th>
              <th id="aborted" class="visible-lg ">Abgebrochen</th>
              <th id="executed" class="visible-lg ">Ausgeführt</th>
              <th id="rollbacked" class="visible-lg ">Zurückgerollt</th>
              <th id="commited" class="visible-lg ">Abgeschlossen</th>
              <th id="lastUpdate" >Letztes Update</th>
              <th>Diagnose</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of xauftragList" [class.selected]="a === xauftrag" (click)="onSelect(a)">
              <td headers="error-id-th">
                <a routerLink="/xauftragExt">
                  <span class="badge">{{a.SO_ID}}</span>
                </a>
              </td>
              <td>{{a.SO_TYPE_ID}}</td>
              <td>{{a.STATUS}}</td>
              <td class="visible-lg x">{{a.TS_CREATED}}</td>
              <td class="visible-lg x">{{a.TS_COMPLETED}}</td>
              <td class="visible-lg ">{{a.TS_ABORTED}}</td>
              <td class="visible-lg ">{{a.TS_EXECUTED}}</td>
              <td class="visible-lg ">{{a.TS_ROLLBACKED}}</td>
              <td class="visible-lg ">{{a.TS_COMMITED}}</td>
              <td >{{a.TS_LAST_UPDATE}}</td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4 ">
    <!-- Titel -->
    <div *ngIf="dbgLevel>0">
      <div class="row">
        <div class="col-md-12 ">
          <h4 class="sr-only1">Auftrag Intern</h4>
          <pre>{{diagnostic}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
