<div class="row">
  <div class="col-md-8">
    <form id="content" (ngSubmit)="onSubmit()" #AuftragForm="ngForm">
      <div class="form-group">
        <label for="search" class="control-label input required">Auftragsnummer</label>
        <div class="input-group">
          <input class="form-control" required="required" name="query" id="search" placeholder="Auftragsnummer eingeben" maxlength="100"
            autofocus="autofocus" type="text" [(ngModel)]="formData.ID" (ngModelChange)="getIdType($event)">

          <select [(ngModel)]="formData.selected" name="wert" class="selectpicker">

            <option *ngFor="let item of formData.items" name="wert123" [ngValue]="item">
              {{item.name}}
            </option>

          </select>

          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="onSubmit()">
              Suchen
            </button>
          </span>
          <div>selected: {{formData.selected.id}}:{{formData.selected.name}}={{selectedValue}}</div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <!-- Titel -->
    <div *ngIf="dbgLevel>0">
      <div class="row">
        <div class="col-md-12 ">
          <h4 class="sr-only1">Auftrag Suche</h4>
          <pre>{{diagnostic}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    //        $("#inputEM").mask("88999999");
    // add * to required field labels
    $('label.required').append('&nbsp;<strong>*</strong>&nbsp;');

  });

</script>
