<p>
  nutzer-suche works!
</p>
<div class="panel panel-default">
  <div class="panel-heading">Suchkriterien</div>
  <div class="panel-body">
    <form class="form-horizontal">

      <div class="form-group">
        <label for="GUID" class="control-label col-md-4">GUID</label>

        <div class="col-md-8">
          <!-- This is a new div -->
          <input type="text" class="form-control" id="GUID" name="EM-Matno" placeholder="GUID">
        </div>
      </div>
      <div class="form-group">
        <label for="SOID" class="control-label col-md-4">SOID</label>

        <div class="col-md-8">
          <!-- This is a new div -->
          <input type="text" class="form-control" id="SOID" name="EM-Matno" placeholder="SOID">
        </div>
      </div>
      <div class="form-group">
        <label for="Status" class="control-label col-md-4">Status</label>

        <div class="col-md-8">
          <!-- This is a new div -->
          <div class="dropdown ">
            <button class="btn btn-default dropdown-toggle" type="button" id="Status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Alle
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li>
                <a href="#"> Alle</a>
              </li>
              <li>
                <a href="#">erstellt</a>
              </li>
              <li>
                <a href="#">versendet</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for='datetimepickerBis' class="control-label  col-md-4">Zeitraum bis </label>
        <div class='input-group date datepicker_format col-md-8' id='datetimepickerBis'>
          <input type='text' class="form-control datepicker_format" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for='datetimepickerVon' class="control-label  col-md-4">Zeitraum von </label>
        <div class='input-group date datepicker_format col-md-8' id='datetimepickerVon'>
          <input type='text' class="form-control datepicker_format" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2  col-md-8">
          <!--New div, offset because there is no label -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>



