<p>
  katalog-reload works!
</p>
<div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Katalog aktualisieren</h3>
        </div>
        <div class="panel-body bs-callout bs-callout-warning">
          <div class="">

            <form class="form-horizontal">
              <div class="row">
                <div class="form-group">
                  <!-- statisches Mapping: EmMatNo - MpMatNo -->
                  <label for="Update" class="control-label col-md-4 "> Letztes Update</label>
                  <div class="col-md-8">
                    <p class="form-control-static">2018-02-07 05:05:00</p>
                  </div>

                </div>
                <div class="form-group">
                  <!-- statisches Mapping: EmMatNo - MpMatNo -->
                  <label for="Upload" class="control-label col-md-4 "> Update nows</label>
                  <div class="col-md-8">
                    <button type="submit" class="btn btn-warning" id="Upload">Aktualisieren!</button>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
