<div class="row">
  <div class="col-md-8">
    <!--  Einzelmodule -->
    <div class="tab-pane active" id="ems">
      <h4 class="sr-only" id="ems-header">Einzelmodule</h4>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <div>IDX</div>
            </th>
            <th>
              <div>EM</div>
            </th>
            <th class="v-table-header-cell">
              <div>Owner</div>
            </th>
            <th>
              <div>TS_CREATION</div>
            </th>
            <th>
              <div>KWT</div>
            </th>
            <th>
              <div>Aktivierung</div>
            </th>
            <th>
              <div>SO_ID</div>
            </th>
            <th>
              <div>INID </div>
            </th>
            <th>
              <div>Typ</div>
            </th>
            <th>
              <div>IK</div>
            </th>
            <th>
              <div>Stand</div>
            </th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>01</div>
            </td>
            <td>
              <div>
                <div class="v-label">88216822 EM_ISPX_C&amp;S COMFORT (5)
                </div>
              </div>
            </td>
            <td>
              <div>Account</div>
            </td>
            <td>
              <div>
                <div class="v-label">2017-11-08 16:49:19.52</div>
              </div>
            </td>
            <td>--- (KWT)</td>
            <td>2017-11-08 16:49:19.52</td>
            <td>IDM000000637030</td>
            <td>
              <div>
                <div class="v-label">
                </div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div>
                <div class="v-label">2017-11-08 16:49:19.52</div>
              </div>
            </td>
          </tr>
          <tr class="v-table-row-aktiviert v-table-row-odd v-selected">
            <td>
              <div>02</div>
            </td>
            <td>
              <div class="v-label">88218643, EM_ZUSATZDIENSTE_ISI</div>
            </td>
            <td>

            </td>
            <td>
              <div class="v-label">2017-11-08 16:49:19.52</div>
            </td>
            <td>--- (KWT)</td>
            <td>2017-11-08 16:49:19.52</td>
            <td>IDM000000637030</td>
            <td>
              <div>
                <div class="v-label"></div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td>
              <div>
                <div class="v-label">2017-11-08, 16:49:19.52</div>
              </div>
            </td>

          </tr>
          <tr>
            <td>
              <div>03</div>
            </td>
            <td>
              <div>
                <div class="v-label">88217538, EM_MASTERNUTZER
                </div>
              </div>
            </td>
            <td>

            </td>
            <td>
              <div>
                <div class="v-label">2017-11-08 16:49:19.52</div>
              </div>
            </td>
            <td>--- (KWT)</td>
            <td>2017-11-08 16:49:19.52</td>
            <td>IDM000000637030</td>
            <td>
            </td>
            <td></td>
            <td></td>
            <td>
              <div>
                <div class="v-label">2017-11-08 16:49:19.52</div>
              </div>
            </td>
          </tr>
          <tr class="v-table-row-aktiviert v-table-row-odd">
            <td>
              <div>04</div>
            </td>
            <td>
              <div>
                <div class="v-label">88217954 EM_HOMEPAGE PROFESSIONAL</div>
              </div>
            </td>
            <td>
              <div>Instanz / Inid</div>
            </td>
            <td>
              <div>
                <div class="v-label">2017-11-08 16:49:19.52</div>
              </div>
            </td>
            <td>--- (KWT)</td>
            <td>2017-11-08 16:49:19.52</td>
            <td>IDM000000637030</td>
            <td>130149019900010000636898</td>
            <td>hosting</td>
            <td>600008884573201 (IK)</td>
            <td>
              <div>
                <div class="v-label">2017-11-08 16:49:19.52</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div>05</div>
            </td>
            <td>
              <div>
                <div class="v-label">88217946, EM_WEITERE-DOMAIN-UNTER_DE</div>
              </div>
            </td>
            <td>

            </td>
            <td>
              <div>
                <div class="v-label">2017-11-08 16:49:19.52</div>
              </div>
            </td>
            <td>--- (KWT)</td>
            <td>2017-11-08 16:49:19.52 </td>
            <td>IDM000000637030</td>
            <td>130149019900010000636898</td>
            <td>hosting</td>
            <td>600008884573201 (IK)</td>
            <td>
              <div>
                <div class="v-label">2017-11-08 16:49:19.52</div>
              </div>
            </td>
          </tr>
          <tr class="v-table-row-aktiviert v-table-row-odd">
            <td>
              <div>06</div>
            </td>
            <td>
              <div>
                <div class="v-label">88217942 EM_HOMEPAGE BASIC</div>
              </div>
            </td>
            <td>
              <div>Instanz / Inid</div>
            </td>
            <td>
              <div>
                <div class="v-label">2017-11-08 16:49:19.52</div>
              </div>
            </td>
            <td>--- (KWT)</td>
            <td>2017-11-08 16:49:19.52</td>
            <td>IDM000000637030</td>
            <td>130149019900010000636899</td>
            <td>hosting</td>
            <td>600008884573202 (IK)</td>
            <td>
              <div>
                <div class="v-label">2017-11-08 16:49:19.52</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Parameter -->
    <div class="tab-pane" id="parameters">
      <h4 class="sr-only" id="parameters-header">Parameter</h4>

      <table class="table table-striped" aria-labelledby="parameters-header">
        <thead>
          <tr>
            <th>
              <div>IDX</div>
            </th>
            <td>
              <div>IDM_PARAM_ID</div>
            </td>
            <td>
              <div>FIELD</div>
            </td>
            <td>
              <div>CAPTION</div>
            </td>
            <td>
              <div>VALUE</div>
            </td>
            <td>
              <div>SO_ID</div>
            </td>
            <td>
              <div>TS_CREATION</div>
            </td>
            <td>
              <div>PROPAGATION</div>
            </td>
            <td>
              <div>ID</div>
            </td>
            <td>
              <div>INID</div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>01</div>
            </td>
            <td>
              <div>24</div>
            </td>
            <td>
              <div>@102</div>
            </td>
            <td>
              <div>Plattformkenner</div>
            </td>
            <td>1</td>
            <td>IDM000000636737</td>
            <td>
              <div>
                <div>2017-11-06 11:16:25.82</div>
              </div>
            </td>
            <td>
              <div>
                <div>2017-11-06 11:18:29.41</div>
              </div>
            </td>
            <td>
              <div>79074</div>
            </td>
            <td>
              <div>130149019900010000635924</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>02</div>
            </td>
            <td>
              <div>25</div>
            </td>
            <td>
              <div>@103</div>
            </td>
            <td>
              <div>Subscriber-Id</div>
            </td>
            <td>keyA-Subscriber</td>
            <td>IDM000000636737</td>
            <td>
              <div>
                <div>2017-11-06 11:16:25.82</div>
              </div>
            </td>
            <td>
              <div>
                <div>2017-11-06 11:18:29.41</div>
              </div>
            </td>
            <td>
              <div>79072</div>
            </td>
            <td>
              <div>130149019900010000635924</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>03</div>
            </td>
            <td>
              <div>26</div>
            </td>
            <td>
              <div>@104</div>
            </td>
            <td>
              <div>Subscription-Id</div>
            </td>
            <td>539622000000000</td>
            <td>IDM000000636737</td>
            <td>
              <div>
                <div>2017-11-06 11:16:25.82</div>
              </div>
            </td>
            <td>
              <div>
                <div>2017-11-06 11:18:29.41</div>
              </div>
            </td>
            <td>
              <div>79076</div>
            </td>
            <td>
              <div>130149019900010000635924</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>04</div>
            </td>
            <td>
              <div>105</div>
            </td>
            <td>
              <div>f047</div>
            </td>
            <td>
              <div>Beschreibt das Authentifizierungsverfahren über die AAA Control Plattform
              </div>
            </td>
            <td>1</td>
            <td>IDM000000636737</td>
            <td>
              <div>
                <div>2017-11-06 11:16:25.82</div>
              </div>
            </td>
            <td>
              <div>
                <div>2017-11-06 11:18:29.41</div>
              </div>
            </td>
            <td>
              <div>79073</div>
            </td>
            <td>

            </td>
          </tr>
          <tr>
            <td>
              <div>05</div>
            </td>
            <td>
              <div>102</div>
            </td>
            <td>
              <div>lineid</div>
            </td>
            <td>
              <div>Identifiziert den logischen Anschluss und damit den RFS Access Line
              </div>
            </td>
            <td>DEU.DTAG.212061110490</td>
            <td>IDM000000636737</td>
            <td>2017-11-06 11:16:25.82</td>
            <td>2017-11-06 11:18:29.41</td>
            <td>
              <div>79075</div>
            </td>
            <td>

            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- Rufnummern -->
    <div class="tab-pane" id="callnums">
      <h4 class="sr-only" id="callnums-header">Rufnummern</h4>

      <table class="table table-striped" aria-labelledby="callnums-header">
        <thead>
          <tr>
            <th>
              <div>IDX</div>
            </th>
            <td>


              <div>RN_STRUCT</div>
            </td>
            <td>


              <div>INID</div>
            </td>
            <td>


              <div>THN</div>
            </td>
            <td>


              <div>TS_CREATION</div>
            </td>
            <td>
              <div>KWT</div>
            </td>
            <td>
              <div>ACTIVATION</div>
            </td>
            <td>
              <div>SO_ID</div>
            </td>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>01</div>
            </td>
            <td>
              <div>+49-200-103404545</div>
            </td>
            <td>
              <div>130149019900010000635924</div>
            </td>
            <td>
              <div>X</div>
            </td>
            <td>
              <div>
                <div>2017-11-06 11:16:25.82</div>
              </div>
            </td>
            <td>2017-11-06 (KWT)</td>
            <td>2017-11-06 11:18:29.41</td>
            <td>IDM000000636737</td>

          </tr>
          <tr>
            <td>
              <div>02</div>
            </td>
            <td>
              <div>+49-200-103404547</div>
            </td>
            <td>
              <div>130149019900010000635924</div>
            </td>
            <td>

            </td>
            <td>
              <div>
                <div>2017-11-06 11:16:25.82</div>
              </div>
            </td>
            <td>2017-11-06 (KWT)</td>
            <td>2017-11-06 11:18:29.41</td>
            <td>IDM000000636737</td>

          </tr>
          <tr>
            <td>
              <div>03</div>
            </td>
            <td>
              <div>+49-200-103404546</div>
            </td>
            <td>
              <div>130149019900010000635924</div>
            </td>
            <td>

            </td>
            <td>>2017-11-06 11:16:25.82</td>
            <td>2017-11-06 (KWT)</td>
            <td>2017-11-06 11:18:29.41</td>
            <td>IDM000000636737</td>

          </tr>
        </tbody>
      </table>

    </div>

    <!-- Sperren -->
    <div class="tab-pane" id="suspensions">
      <h4 class="sr-only" id="susp">Sperren</h4>

      <table class="table table-striped" aria-labelledby="susp">
        <thead>
          <tr>
            <th>
              <div>IDX</div>
            </th>
            <th>


              <div>SPERRE</div>
            </th>
            <th>


              <div>SUSP_TYPE</div>
            </th>
            <th>


              <div>TS_CREATION</div>
            </th>
            <th>KWT</th>
            <th>ACTIVATION</th>
            <th>SO_ID</th>
            <th>PP_ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>01</div>
            </td>
            <td>
              <div>
                <div>307, DKK_VOIP_IPONE_GASSENSPERRE</div>
              </div>
            </td>
            <td>
              <div>DKK</div>
            </td>
            <td>
              <div>
                <div>2017-11-06 11:16:25.82</div>
              </div>
            </td>
            <td>2017-11-06 (KWT)</td>
            <td>2017-11-06 11:18:29.41</td>
            <td>IDM000000636737</td>
            <td>206111049-0000-0000-a0000-0000105</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
