<nav class="navbar navbar-default navbar-static-top" role="navigation" id="navigation-main">
  <a class="sr-only sr-only-focusable" href="/content">Zu Inhalt springen</a>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" title="IDM-Adapter Frontend" routerLink="/dashboard">IDM-Adapter</a>
    </div>
    <ul class="nav navbar-nav" aria-labelledby="navigation-main">
      <li>
        <a class="nav-link" routerLink="/account">Account</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/auftrag">Auftrag</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/error">Fehler</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/katalog">Katalog</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/nutzer">Nutzermgmt</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/kampagne">Kampagne</a>
      </li>
         <li>
        <a class="nav-link" routerLink="/konfiguration">Konfig</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/fehlerbild">Fehlerbild</a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="http://10.171.116.61:8085/idma-callcenter/logout" title="Sitzung beenden">Abmelden</a>
      </li>
    </ul>
  </div>
</nav>
